@use 'sass:color';
@use '../../../../styles/styles.scss' as *;

.app-header {
  background: linear-gradient(90deg, #7f00ff, #e100ff, #ff6a00);
  color: white;
  padding: 0.75rem 0;

  .logo {
    font-size: 1.25rem;
  }

  .nav-link {
    color: white;
    font-weight: 500;
    text-decoration: none;
    font-size: 0.95rem;

    &:hover {
      text-decoration: underline;
    }
  }

  .btn {
    font-weight: 500;
    font-size: 0.85rem;
  }
}

.dropdown-menu .dropdown-item {
  font-size: 0.95rem;
  padding: 0.5rem 1rem;
  transition: background-color 0.2s ease-in-out;
  &:hover {
    background-color: #f0f0f0;
  }
  i {
    font-size: 1rem;
  }
}
