<div class="auth-wrapper">
  <div class="auth-card position-relative">

    <h2 class="text-center mb-4 text-uppercase fw-bold" style="color: #7f00ff">Ingresar</h2>


    <form [formGroup]="form" (ngSubmit)="onSubmit()">
      <div class="mb-3 text-start">
        <label for="email">Usuario *</label>
        <input
          type="email"
          id="email"
          formControlName="email"
          class="form-control"
        />
      </div>

      <div class="mb-3 text-start">
        <label for="password">Contraseña*</label>
        <input
          type="password"
          id="password"
          formControlName="password"
          class="form-control"
        />
      </div>

      <div class="mb-4 d-flex align-items-center">
        <input type="checkbox" class="form-check-input me-2" id="remember" />
        <label for="remember" class="form-check-label small">Remember me</label>
      </div>

      <button class="btn btn-gradient w-100 mb-3" [disabled]="form.invalid">INGRESAR</button>
    </form>

    <div class="d-flex justify-content-between small">
      <a routerLink="/register" class="fw-bold">Crear cuenta</a>
      <a routerLink="/forgot-password" class="fw-bold">Resetear contraseña</a>
    </div>
  </div>
</div>
